<div id="review-list">
  <header>
    <h1><%= @user.username %></h1>
  </header>
  <h2>Reviews:</h2>
  <% @user.reviews.each do |review| %>
    <div id="book-<%= review.book.id %>-info">
      <%= image_tag review.book.thumbnail, alt: "Cover of #{review.book.title}"  %>
      <br><h3><%= link_to review.book.title, book_path(review.book) %></h3><br>
      <!-- possible format change for readability -->
    </div>
    <div id="review-<%= review.id %>-info">
      <h3><%= review.title %></h3>
      <p>Written on: <%= Date.strptime(review.updated_at.to_s)%></p>
      <p>Rating: <%= review.rating %>/5</p>
      <p><%= review.text %></p>
      <%= button_to('Delete Review', review_path(@user.id),
          method: "delete",
          params: { review_id: review.id },
          data: { confirm: 'Are you sure?', disable_with: 'loading...'})
      %>
    </div>
  <% end %>
  <% if @user.reviews_count == 0 %>
    <p>This user has not written any reviews yet.</p>
  <% end %>
</div>
