<header>
<h1><%= @user.username %></h1>
</header>
<div id="review-list">
  <h2>Reviews:</h2>
  <% @user.sorted_reviews(@sorted_param).each do |review| %>
    <div id="book-<%= review.book.id %>-info" class="card mb-3">
      <div class="row no-gutters">
        <div class="col-md-3">
          <%= image_tag review.book.thumbnail, alt: "Cover of #{review.book.title}", class: "card-img" %>
        </div>
        <div class="col-md-9">
          <div class="card-body review-info" id="review-<%= review.id %>-info">
            <h6 class="card-title">Review of <%= link_to review.book.title, book_path(review.book) %>:</h6>
            <h5 class="card-title"><%= review.title %></h5>
            <p class="card-text">Written on: <%= Date.strptime(review.updated_at.to_s)%></p>
            <div class="fancy-rating">
              <div class="star-filling-bar" id="review-<%= review.id %>-bar" style="width:<%= review.rating_percentage %>%;"></div>
              <%= image_tag "stars.gif", alt: "stars", class: "stars" %>
            </div>
            <p class="card-text"><small><%= review.text %></small></p>
            <%= button_to('Delete Review', review_path(@user.id),
              method: "delete",
              params: { review_id: review.id },
              data: { confirm: 'Are you sure?', disable_with: 'loading...'},
              class: "btn btn-primary")
            %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <% if @user.reviews_count == 0 %>
    <p>This user has not written any reviews yet.</p>
  <% end %>
</div>
