<div id="review-list">
  <header>
    <h2><%= @user.username %></h2>
    <div id="sort-bar">
      <a href="<%= user_path(@user) + "?sort=date-desc" %>">Sort by Newest</a>
      <a href="<%= user_path(@user) + "?sort=date-asc" %>">Sort by Oldest</a>
    </div>
  </header>
  <% @user.sorted_reviews(params[:sort]).each do |review| %>
    <div id="book-<%= review.book.id %>-info">
      <img src="<%= review.book.thumbnail %>" alt="Cover of <%= review.book.title %>">
      <br><h3><%= review.book.title %></h3><br>
    </div>
    <div class="review-info" id="review-<%= review.id %>-info">
      <h3><%= review.title %></h3>
      <p>Written on: <%= Date.strptime(review.updated_at.to_s)%></p>
      <p>Rating: <%= review.rating %>/5</p>
      <p><%= review.text %></p>
      <%= button_to('Delete Review', review_path(@user.id),
          method: "delete",
          remote: true,
          params: { review_id: review.id },
          data: { confirm: 'Are you sure?', disable_with: 'loading...'})
      %>
    </div>
  <% end %>
  <% if @user.reviews_count == 0 %>
    <p>This user has not written any reviews yet.</p>
  <% end %>
</div>
