<%= link_to "Add new book", new_book_path %>
<div id="book-list">
  <% @books.each do |book| %>
    <div id="book-<%= book.id %>">
      <%= image_tag book.thumbnail, alt: "Cover of #{book.title}"  %>
      <h3><%= link_to book.title, book_path(book) %></h3>
      <p>Author(s):
        <% if book.author_count == 0 %>
        unknown
        <% end %>
        <% book.authors.each do |author| %>
        <%= link_to author.name, author_path(author) %><%= ", " if author != book.authors.last %>
        <% end %>
      </p>
      <p>Average Rating: <%= book.average_rating %></p>
      <p><%= book.review_count %> reviews</p>
      <p><%= book.page_count %> pages</p>
      <p>Published in <%= book.year_published %></p>
    </div>
  <% end %>
</div>
