<% @books.each do |book| %>
  <div id="book-<%= book.id %>">
    <img src="<%= book.thumbnail %>" alt="Cover of <%= book.title %>">
    <h3><a href="<%= book_path(book) %>"><%= book.title %></a></h3>
    <p>Author(s):
      <% if book.author_count == 0 %>
        unknown
      <% end %>
      <% book.authors.each do |author| %>
        <a href="<%= author_path(author) %>"><%= author.name %></a><%= ", " if author != book.authors.last %>
      <% end %>
    </p>
    <p><%= book.page_count %> pages</p>
    <p>Published in <%= book.year_published %></p>
  </div>
<% end %>