<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>
<div id="sort-bar">
  Sort by:
  <a href="<%= books_path + "?sort=rating-asc" %>">average rating (lowest to highest)</a>
  <a href="<%= books_path + "?sort=rating-desc" %>">average rating (highest to lowest)</a>
  <a href="<%= books_path + "?sort=pages-asc" %>">number of pages (lowest to highest)</a>
  <a href="<%= books_path + "?sort=pages-desc" %>">number of pages (highest to lowest)</a>
</div>
<a href="<%= new_book_path %>">Add new book</a>
<% @books.each do |book| %>
  <div class="book-info" id="book-<%= book.id %>">
    <img src="<%= book.thumbnail %>" alt="Cover of <%= book.title %>">
    <h3><a href="<%= book_path(book) %>"><%= book.title %></a></h3>
    <p>Author(s):
      <% if book.author_count == 0 %>
        unknown
      <% end %>
      <% book.authors.each do |author| %>
        <a href="<%= author_path(author) %>"><%= author.name %></a><%= ", " if author != book.authors.last %>
      <% end %>
    </p>
    <p>Average Rating: <%= book.average_rating %></p>
    <p><%= book.review_count %> reviews</p>
    <p><%= book.page_count %> pages</p>
    <p>Published in <%= book.year_published %></p>
  </div>
<% end %>
