<h1>New Book</h1>
<%= form_for @book do |f| %>
  <%= f.label :title%>
  <%= f.text_field :title, type: :text, required: true %>
  <br>
  <%= f.label :year_published, "Year published - enter a negative number for years BC" %>
  <%= f.text_field :year_published, type: :number, min: -4000, max: Time.now.year, required: true%>
  <br>
  <%= f.label :page_count %>
  <%= f.text_field :page_count, type: :number, min: 1, required: true %>
  <br>
  <%= f.label "Thumbnail URL" %>
  <%= f.text_field :thumbnail, type: :url %>
  <br>
  <%= f.label "Author(s) - Seperated by Commas" %>
  <%= f.text_field :authors, type: :text, required: true, value: ''%>
  <br>
  <%= f.submit %>
<% end %>
