<div id="book-show">
  <img src="<%= @book.thumbnail %>" alt="Cover of <%= @book.title %>">
  <h3><%= @book.title %></h3>
  <p>Author(s):
    <% @book.authors.each do |author| %>
      <%= author.name %><%= ", " if author != @book.authors.last %>
    <% end %>
  </p>
  <p><%= @book.page_count %> pages</p>
  <p>Published in <%= @book.year_published %></p>
</div>