<h1><%= @book.title %></h1>

<%= link_to "Show/Hide Statistics", "#statistics", { class: "btn btn-primary", "data-toggle" => "collapse", "role" => "button", "aria-expanded" => "false", "aria-controls" => "statistics" } %>
<br>
<div id="statistics" class="collapse" >
  <h3>Statistics</h3>
  <% if @book.review_count == 0 %>
    <p>This book doesn't have any reviews yet.</p>
  <% else %>
    <div id="average-rating">
      <h4>Average Rating: </h4>
      <div class="fancy-rating">
        <div class="star-filling-bar" style="width:<%= @book.rating_percentage %>%;"></div>
        <%= image_tag "stars.gif", alt: "stars", class: "stars" %>
      </div>
      <br>
    </div>
    <div id="highest-ratings" class="stats">
      <h4>Top 3 Reviews:</h4>
      <ol>
        <% @book.top_reviews(3).each do |review| %>
          <li>
            <%= review.title %>, Written by:
            <%= link_to review.user.username, user_path(review.user) %>
            <div class="fancy-rating">
              <div class="star-filling-bar" style="width:<%= review.rating_percentage %>%;"></div>
              <%= image_tag "stars.gif", alt: "stars", class: "stars" %>
            </div>
          </li>
        <% end %>
      </ol>
    </div>
    <div id="lowest-ratings" class="stats">
      <h4>Bottom 3 Reviews:</h4>
      <ol>
        <% @book.bottom_reviews(3).each do |review| %>
          <li>
            <%= review.title %>, Written by:
            <%= link_to review.user.username, user_path(review.user) %>
            <div class="fancy-rating">
              <div class="star-filling-bar" style="width:<%= review.rating_percentage %>%;"></div>
              <%= image_tag "stars.gif", alt: "stars", class: "stars" %>
            </div>
          </li>
        <% end %>
      </ol>
    </div>
  <% end %>
</div>
<br>
<div id="book-show">
  <%= image_tag @book.thumbnail, alt: "Cover of #{@book.title}", class: "book-show-thumbnail"  %>
  <p>Author(s):
    <% if @book.author_count == 0 %>
      unknown
    <% end %>
    <% @book.authors.each do |author| %>
      <%= link_to author.name, author_path(author) %><%= ", " if author != @book.authors.last %>
    <% end %>
  </p>
  <p><%= @book.page_count %> pages</p>
  <p>Published in <%= @book.year_published.abs %><%= " BC" if @book.year_published < 0 %></p>
</div>

<div id="review-list">
  <h2>Reviews:</h2>
  <% if @book.review_count == 0 %>
    <p>This book has no reviews yet.</p>
  <% end %>
  <% @book.reviews.each do |review|%>
    <div id="review-<%= review.id %>">
      <h3><%= review.title %></h3>
      <p>Written by: <%= link_to review.user.username, user_path(review.user) %></p>
      <p>Rating: <%= review.rating %>/5</p>
      <!-- delete line above after rewriting tests to use fancy-rating below instead -->
      <div class="fancy-rating">
        <div class="star-filling-bar" style="width:<%= (review.rating / 5.0 * 100).round(0).to_i %>%;"></div>
        <%= image_tag "stars.gif", alt: "stars", class: "stars" %>
      </div>
      <p><%= review.text %></p>
    </div>
  <% end %>
  <%= link_to "Write a review", new_book_review_path(@book), class: "btn btn-primary" %>
</div>
<br>
<div id="delete">
  <%= button_to('Delete Book', book_path(@book),
          method: "delete",
          data: { confirm: 'Are you sure?', disable_with: 'loading...' },
          class: "btn btn-primary")
  %>
</div>
