<h1><%= @book.title %></h1>
<div id="book-show">
  <%= image_tag @book.thumbnail, alt: "Cover of #{@book.title}", class: "book-show-thumbnail"  %>
  <p>Author(s):
    <% if @book.author_count == 0 %>
      unknown
    <% end %>
    <% @book.authors.each do |author| %>
      <%= link_to author.name, author_path(author) %><%= ", " if author != @book.authors.last %>
    <% end %>
  </p>
  <p><%= @book.page_count %> pages</p>
  <p>Published in <%= @book.year_published.abs %><%= " BC" if @book.year_published < 0 %></p>
</div>

<div id="review-list">
  <h2>Reviews:</h2>
  <% if @book.review_count == 0 %>
    <p>This book has no reviews yet.</p>
  <% end %>
  <% @book.reviews.each do |review|%>
    <div id="review-<%= review.id %>">
      <h3><%= review.title %></h3>
      <p>Written by: <%= link_to review.user.username, user_path(review.user) %></p>
      <p>Rating: <%= review.rating %>/5</p>
      <!-- delete line above after rewriting tests to use fancy-rating below instead -->
      <div class="fancy-rating">
        <div class="star-filling-bar" style="width:<%= (review.rating / 5.0 * 100).round(0).to_i %>%;"></div>
        <%= image_tag "stars.gif", alt: "stars", class: "stars" %>
      </div>
      <p><%= review.text %></p>
    </div>
  <% end %>
  <%= link_to "Write a review", new_book_review_path(@book), class: "btn btn-primary" %>
</div>
<br>
<div id="delete">
  <%= button_to('Delete Book', book_path(@book),
          method: "delete",
          remote: true,
          data: { confirm: 'Are you sure?', disable_with: 'loading...' },
          class: "btn btn-primary")
  %>
</div>
