<h1>New Review for <%= @book.title %></h1>
<%= form_for [@book, @review] do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <br>
  <label for="username">Username</label>
  <input name="username" type="text">
  <br>
  <%= f.label :rating %>
  <%= f.text_field :rating %>
  <br>
  <%= f.label :text %>
  <%= f.text_area :text %>
  <br>
  <%= f.submit "Submit Review" %>
<% end %>