<h1>New Review for <%= @book.title %></h1>
<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>
<%= form_for [@book, @review] do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title, required: true %>
  <br>
  <%= f.label :user %>
  <%= f.text_field :user, required: true %>
  <br>
  <%= f.label :rating %>
  <%= f.text_field :rating, type: :number, min: 1, max: 5, required: true %>
  <br>
  <%= f.label :text %>
  <%= f.text_area :text, required: true %>
  <br>
  <%= f.submit "Submit Review" %>
<% end %>